__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
.env.*
.envrc
.venv/
venv/
pip-wheel-metadata/
build/
dist/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.cache/
.mypy_cache/
.pytest_cache/
coverage.xml
.coverage*
logs/
*.log
.idea/
.vscode/
